{% extends "base.html" %}
{% block content %}


<h1 class="padding">Blog posts!</h1>

    {% for post in posts %}
        <li class="padding">
            <h1>
                <a href="/blog?id={{ post.id }}">{{ post.title }}</a> 
                <!--post = Blog.query.filter_by(id=entry_id).first()
                posts = Blog.query.order_by(Blog.pub_date.desc()) -->

            </h1>
            <h3>{{post.body}}</h3>

          
        </li>
        <p class="padding">Posted by: <a href="/blog?userid={{post.owner_id}}">{{ post.owner.username }}</a></p>
        

    {% endfor %}


{% endblock %}
 